/*----------Modificaciones generales---------*/
* {
    margin: 0;
    padding: 0;
}

/*------1rem=10px para medidas rem ------*/
html {
    font-size: 62.5%;
}

/* tamaño pantalla mobile 360px*/
h1 {
    font-size: 3.5rem;
}

h1,
h2,
h3 {
    font: {
        family: 'DM Serif Display', serif;
        weight: map-get($estilosFuentes, weightfuente);
    }
}

h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

img {
    vertical-align: initial;
}

p {
    font-weight: map-get($estilosFuentes, weightfuente);
    margin-bottom: 0;
}

a {
    font: {
        family: 'Montserrat', sans-serif;
        size: 1.4rem;
    }

    color: map-get($estilosFuentes, colorB);
    text-decoration: none;
    &:hover {
        color: #ffffff;
    }
}

li {
    list-style: none;
}

/*--------------modificación de bootstrap-----------------*/
figure {
    margin: 0rem;
}

ul {
    padding: 0;
}
/*--------------FIN modificación de bootstrap-----------------*/

/*------------- HEADER mobile ------------*/
header {
    background-color: #F3C188;
    position: sticky;
    top: 0;
    z-index: 9990;
    box-shadow: 0px 0px 10px #707070;
}

/*---------------------HEADER CON BOOTSTRAP---------------------*/
.navbar-collapse {
    position: absolute;
    top: 12.9rem;
    left: 0rem;
}

.navbar-collapse {
    .navbar-nav{
    padding: 4.2rem 10rem;
    background-color: rgba(243, 243, 243, 0.877);
    }
}

.nav-item {
    .nav-link{
    color: #FF661F;
    font-weight: 700;
    padding: 1rem 0rem;
    }
}

.navbar-toggler {
    padding: 0;
}

/*----------------FIN HEADER CON BOOTSTRAP---------------------*/
.navBar {
    display: flex;
    justify-content: end;
    align-items: map-get($estilosFuentes, alignItems);
    padding-top: 0.5rem;
}

.navBar {
    div{
    width: 45%;
    text-align: map-get($estilosFuentes, textAlign);
    }
}

.logoMerakiHeader {
    @include imgEstilo(13rem);
    padding-top: 1.4rem;
}

.header_div_a {
    width: 15%;
    text-align: end;
}

.bntMenu {
    background: transparent;
    border: transparent;
    position: fixed;
    top: 2rem;
    left: 3rem;
}

.hamburguesa {
    color: map-get($estilosFuentes, colorM);
    font-size: 3.5rem;
    z-index: 9990;
}

.cajaBuscador {
    padding-bottom: 1.5rem;
    text-align: map-get($estilosFuentes, textAlign);
}

.buscador {
    border: {
        color: map-get($estilosFuentes, colorB);
        radius: 22px;
        style: solid;
    }
    margin: 0.9em 0 0 0em;
    padding: 0.7em 2.2em;
    width: 30.5rem;
    background-color: transparent;
    position: relative;
    &::placeholder {
        color: map-get($estilosFuentes, colorB);
        font: {
            family: 'Montserrat', sans-serif;
            weight: map-get($estilosFuentes, weightfuente);
            size: 1.5rem;
        }
      
    }
}

.iconoLupa {
    @include imgEstilo(20px);
    position: absolute;
    margin: {
        top: 1.45rem;
        left: -3.2rem;
    }
}

.iconoCarrito {
    @include imgEstilo(30px);
}

#contadorCarrito{ 
    margin-right: 1em;
    font: {
        family: 'Montserrat', sans-serif;
        weight: 700;
    }
    color: #794100;
}

.iconoUsuario {
    @include imgEstilo(20px);
    margin-right: 2.8em;
}

.modal-contenedor {
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    transition: all .5s;
    -webkit-transition: none;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: #ffffff;
    min-width: 700px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}
.modal-active {
    .modal-carrito{
        margin-top: 15em;
        height: 450px;
    }
}
.modal-carrito {
    h3{
        color: #FF661F;
        padding-bottom: 5px;
        font-size: 3rem;
    }
}
.modal-carrito{
    #carritoCerrar{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: #FF661F;
        border: none;
        background-color: transparent;
        transition:initial;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}
.precioProducto {
    font: {
        weight:600;
        size: 2rem;
    }
    color: #794100;
}
.fas {
    font-weight: 700;
}
.boton-eliminar{
    border: none;
    width: 25%;
    text-align: left;
    background-color: transparent;
}
.productoEnCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    p{
        font-size: 1.2rem;
        font-weight: 600;
        width:25%;
        padding-bottom: 1.5rem;
    }
}
#vaciar-carrito{
    border: none;
    color: #ffffff;
    margin-top: 3rem;
}
#titulos-carrito-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        font-size: 1.5rem;
        font-weight: 600;
        width: 25%;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        color: #FF661F;
        border-bottom: solid 0.2em #FF661F;
    }
}