$estilosFuentes:(
    colorM: #794100,
    colorB: #ffffff,
    textAlign: center,
    alignItems: center,
    weightfuente: 400,
);

$estiloContenedor: (
    display: flex,
    justifyContent: center,
);
